<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockchain Crowdfunding | Fundify</title>
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Blockchain Crowdfunding</h1>
      <p>A platform for secure and transparent fundraising.</p>
      <div class="buttons">
        <a href="/submit_application" class="btn">Submit Application</a>
        <a href="/view_applications" class="btn">View Applications</a>
        <a href="/invest" class="btn">Invest</a>
      </div>
    </div>
  </body>
</html>
